@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body {
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    background: #1d211e;
    line-height: 22px;
    text-align: center;
}

nav {
    margin: 50px 0;
    background: #e67c1f;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: #e67c1f;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 0 10px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 60px;
}

nav a:hover {
    background: #000000;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: inline-block;
}

nav ul ul li {
    width: 170px;
    position: relative;
    display: block;
}

nav ul ul ul li {
    position: relative;
    top:-60px;
    left:85px;
}

li > a::after {
    content: ' +'
}

li > a:only-child::after {
    content: '';
}
