@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


body {
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
}


aside {
    background: #FFFFFF;
    float: left;
    padding: 10px;
    width: 240px;
    max-width: 240px;
}

aside h1 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-size: 180%;
}

aside img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 50px auto 10px;
}

aside h3 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    color: lightgray;
    text-transform: uppercase;
    font-size: 80%;
}

nav ul li {
    list-style: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 80%;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
    left: -38px;
}

nav ul li a {
    text-decoration: none;
    color: #b1bfc6;
    padding-left: 10px;
}

nav ul li:hover {
    cursor: pointer;
    border-left: 2px solid #ff7739;
}

main {
    background: #f3f5f7;
    margin-left: 5px;
    padding-left: 50px;
    float: left;
}

main h1{
    font-size: 35px;
    font-weight: 500;
}

main h1 span {
    color: #91a5af;
}

main button {
    background: #ff7739;
    padding: 7px 22px;
    border: 3px solid #ff7739;
    color: #FFFFFF;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 80%;
    position: absolute;
    top: 43px;
    left: 1170px;
}

main button:hover {
    background: none;
    border: 3px solid #ff7739;
    color: #ff7739;
    cursor: pointer;
}

section h5 {
    text-transform: uppercase;
    font-weight: lighter;
}

section div {
    display: inline-block;
    background: #ffffff;
    width: 300px;
    height: 300px;
    margin: 5px 40px 30px 0px;
    box-shadow: 8px 6px 17px -1px rgba(0,0,0,0.26);
}

section div img {
    padding-top: 40px;
}

section div p {
    text-transform: capitalize;
    padding-left: 15px
}

section div .listed {
    position: relative;
    top: -150px;
    left: -30px;
    border: 3px solid #68bc69;
    background: #68bc69;
    border-radius: 30px;
    color: #ffffff;
    padding: 3px 20px;
    text-transform: uppercase;
}

section div .rented {
    position: relative;
    top: -150px;
    left: -30px;
    border: 3px solid lightgrey;
    background: lightgrey;
    border-radius: 30px;
    color: #ffffff;
    padding: 3px 20px;
    text-transform: uppercase;
}

section div .draft {
    position: relative;
    top: -150px;
    left: -30px;
    border: 3px solid #91a5af;
    background: #91a5af;
    border-radius: 30px;
    color: #ffffff;
    padding: 3px 20px;
    text-transform: uppercase;
}



