body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 610px;
    color: #A192B0;
    margin: 0 auto;
    font-size: 13px;
}

header h1 {
    margin: 2px 0 0 3px;
    font-size: 13px;
}

header h1 a {
    text-decoration: none;
    color: black;
}

article h1 a:hover {
    text-decoration: underline;
}

header p {
    font-size: 10px;
    margin: 0;
}

article {
    width: 280px;
    float: left;
    border: 2px solid lightgray;
    margin: 3px 3px 6px 10px;
    box-shadow: 2px 2px 2px 0 lightgray;
}

article img {
    float: left;
}

article p {
    padding: 0 5px;
}

