.wrapper {
    width: 890px;
    margin: 0 auto;
    font-family: Calibri Light, Verdana, sans-serif;
    border: 1px solid #a5b2b3;
}

article {
    float: left;
    width: 195px;
    text-align: justify;
    margin: 0 10px;
}

article:first-of-type {
    margin-left: 14px;
}

article h1 {
    font-size: 140%;
    text-align: center;
}

article img {
    width: 195px;
}

article a {
    text-decoration: none;
    color: black;
}

article a:hover {
    opacity: 0.4;
}

