* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    background: url("http://i.imgur.com/uv0ZHiz.jpg");
}

header {
    width: 940px;
    margin: auto;
    background: url("http://i.imgur.com/JrixLqP.jpg");
    height: 130px;
}

header > h1 {
    float: right;
    padding: 30px 10px;
    font-size: 3rem;
}

nav {
    display: block;
    width: 940px;
    margin: 5px auto;
    background: url("http://i.imgur.com/JrixLqP.jpg");
}

nav ul li {
    display: inline-block;
    padding: 5px 25px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li:first-of-type a {
    color: #2A2A38;
}

nav ul li a:hover {
    color: #2A2A38;
}

main {
    width: 940px;
    margin: auto;
    background: #ffffff;
}

section article:after {
    content: '';
    display: block;
    clear: both;
}

figure {
    border: 1px solid #F8F8F8;
    float: left;
    margin: 15px;
    padding: 5px;
}

aside {
    float: right;
    margin-top: -320px;

}

aside h2 {
    width: 80px;
    margin-left: 20px;
}
aside ul li {
    padding-bottom: 10px;
    padding-left: 7px;
    line-height: 20px;
    width: 150px;
    margin: 20px;
    border-bottom: 1px solid  #D3D3D3;
}

section article div h2 {
    color: #5E6D7C;
    margin-top: 15px;
    padding: 5px;
}

section article div h3 {
    color: #E3C87D;
    padding: 5px;
}

section article > p {
    color: #9C9790;
    margin-top: 10px;
    width: 65%
}

article figure figcaption {
    color: #9C9790;
}

.popular-recipes h2 {
    color: #E78E9B;
}

.popular-recipes ul li {
    list-style: none;
}

.popular-recipes ul li a {
    color: #E78E9B;
    text-decoration: none;
}

.popular-recipes ul li a:hover {
    color: #B2858A;
    background-color: #EFEFEF;
}

.popular-recipes {
    margin-top: -200px;
}
footer {
    background-color: #AEACA8;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    clear: both;
}